.button--product-filtering {
  font-size: 16px;
  font-weight: 500;
  background-color: $color-background3;
  color: $color-strong;
  border-radius: 4px;
  border: solid $color-accented;
  border-width: 0px;
  padding: 6px 22px;

  &:hover,
  &:focus {
    background-color: $color-accented;
    color: $color-background1;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
}

.product-card {
  font-size: 16px;
  border-top: 0px;
  position: relative;
  overflow: hidden;

  &__text-section {
    border-top: 0px;
    border-left: 1px solid $color-border1;
    border-right: 1px solid $color-border1;
    border-bottom: 1px solid $color-border1;
    padding: 20px 24px;
    line-height: 188%;
  }
  &__product-name {
    margin-bottom: 4px;
    line-height: 200%;
    font-weight: 700;
    font-size: 18px;
    color: $color-strong;
  }

  .slide-from-bottom {
    position: absolute;
    top: 100%;

    padding: 49px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: 0.03em;

    /* bottom: -10px; */

    color: #ffffff;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: top;
  }

  &:hover .slide-from-bottom {
    top: 0px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.slider-container {
  overflow: hidden;
  position: relative;
}
