.company-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  height: 31px;
}
.button-default {
  min-width: 200px;
  min-height: 50px;
  background: $color-accented;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: solid $color-accented;
  color: $color-background3;
  outline: solid 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    border: solid $color-accented-light;
    background: $color-accented-light;
    transform: scale(105%);
    transition-duration: 0.1s;
    transition-property: transform, background-color;
    transition-timing-function: ease-in-out;
  }

  &:focus {
    border: solid $color-accented-light;
    background: $color-accented-light;
    outline-offset: 2px;
    outline: solid $color-accented;
    outline-width: 1px;
    transform: scale(105%);
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }
}

.social-icons {
  display: flex;
  gap: 10px;

  &__icon {
    fill: $color-normal;
    border-radius: 50%;
    background-color: $color-background1;
  }
  &__icon--footer {
    fill: $color-background1;
    background-color: $color-footer-icon-bg;
  }
  &__icon:hover,
  &__icon:focus {
    fill: $color-background1;
    background-color: $color-accented;
    cursor: pointer;
  }
}
