.accented-color {
  color: $color-accented;
}
.strong-color {
  color: $color-strong;
}
.strong-inverted-color {
  color: $color-background1;
}

.margin-top60-bottom20 {
  margin-bottom: 20px;
  margin-top: 60px;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-column-reverse__label {
  align-self: flex-start;
  position: relative;
  width: 448px;
  height: 14px;
  margin: 10px 0px 4px 0px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-lined-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.flex-lined-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-wrap-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.flex-lined-middle-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  gap: 8px;
}

.text-white {
  color: $color-background1;
}
.section__title {
  color: $color-strong;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
}
.has-hover {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill, background-color, box-shadow, border;
  transition-duration: 2500ms;
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
  scale: 0;
}
