  --color-accented: #2196f3;
  --color-accented-light: rgba(33, 150, 255, 1);
  --color-normal: #757575;
  --color-gray: #afb1b8;
  --color-strong: #212121;
  --color-background1: white;
  --color-background2: #2f303a;
  --color-background3: #f5f4fa;
  --color-footer-icon-bg: rgba(255, 255, 255, 0.1);
  --color-border1: #eeeeee;
  --page-link: "https://joanna-jasinska.github.io/goit-markup-hw-07/";
